[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "ubuntu"]
	path = ubuntu
	url = git@github.com:Emberwalker/dotfiles.ubuntu.git
