"*":
  core:
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "233ce61c-d361-3db6-99fc-865277dfbee3"
  "file-icons": {}
  "fuzzy-finder": {}
  metrics:
    userId: "d3fd3662d5ed971aa94a9e1af2334a3489b19a66"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      linter: true
      linterDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
".Kotlin.source":
  editor:
    preferredLineLength: 120
